.footer {
    overflow: hidden;
    position: relative;
    background-color: #0A2850;
    color: #fff;
    padding: 60px 80px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    z-index: 2;
    width: 105px;
    height: 39px;
}

.footer__circle {
    position: absolute;
    border-radius: 50%;
    background-color:#2F80ED;
    z-index: 1;
    width: 340px;
    height: 340px;
    top: -128px;
    left: -44px;
}

.footer__social {
    justify-items: end;

}

.footer__social-heading {
    margin: 0 0 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;

}

.footer__list-item {
    list-style-type: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    line-height: 20px;

}

.footer__social-link {
    color: #fff;
    text-decoration: none;

}

.footer__social-link:hover {
    color: #C1C1C1;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    padding-right: 10px;
    vertical-align: middle;

}

.footer__copyright {
    margin: 0;
    padding-top: 108px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}