.page {
 margin: 0;
}

.header {
    position: relative;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("../images/background_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.header__title {
    position: relative;
    margin-top: 183px;
    margin-left: 80px;
    max-width: 709px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
}

.header__span-accent{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2f80ed;
}

.header__description{
    margin-top: 28px;
    margin-left: 80px;
    max-width: 683px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    top: 124px;
    right: 5px;
}

.nav {
    padding: 30px 80px 0;
}

.nav__logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 20px;
    right: 80px;
    top: 30px;
    list-style-type: none;
}

.nav__link {
    display: inline-block;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__footer {
    position: absolute;
    bottom: 40px;
    left: 80px;
    right: 80px;
    display: flex;
    flex-direction: column;
}

.header__paragraph {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.header__paragraph-triple {
    position: absolute;
    right: 0
;
}

.footer {
}
