
.header {
    position: relative;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("../images/background_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.header__title {
    position: relative;
    margin-top: 183px;
    margin-left: 80px;
    max-width: 709px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
}

.header__span-accent{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2f80ed;
}

.header__description{
    margin-top: 28px;
    margin-left: 80px;
    max-width: 683px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    top: 124px;
    right: 5px;
}

.nav {
    padding: 30px 80px 0;
}

.nav__logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 20px;
    right: 80px;
    top: 30px;
    list-style-type: none;
}

.nav__link {
    display: inline-block;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__footer {
    position: absolute;
    left: 80px;
    bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__paragraph {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.header__paragraph-triple {
    display: flex;
    justify-content: end;
    margin-right: 80px;
    margin-bottom: 40px;
}

.recipes {
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    position: relative;
    color: #ffffff;
    
}

.recipes__title {
    padding-top: 100px;
    padding-left: 80px;
    max-width: 580px;

}

.recipes__subtitle {
    padding-top: 24px;
    padding-bottom: 80px;
    padding-left: 80px;
    max-width: 438px;      

}

.recipes__videos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 215px;
    gap: 40px;

}

.recipes__video-item {

}

.recipes__iframe {
    width: 480px;
    height: 270px;

}

.recipes__video-caption {
    position: relative;
    margin-top: 24px;
    bottom: 0px;
    
}

.recipes__video-time {
    position: absolute;
    right: 0;
}

.footer {
}
